<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #306185;">
    <a class="navbar-brand" href="#">Homepage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#addModal" onclick="showAddForm()">Add</a>
            </li>
            <li class="nav-item dropdown" id="showList">

            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="searchByName()">Search</button>
        </div>
    </div>
</nav>
<hr>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Home</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <form enctype="multipart/form-data" id="form">
                            <input type="hidden" id="id">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" name="price">
                            <label for="numberOfBathroom">Bathroom</label>
                            <input type="text" class="form-control" id="numberOfBathroom" name="numberOfBathroom">
                            <label for="numberOfBedroom">Bedroom</label>
                            <input type="text" class="form-control" id="numberOfBedroom" name="numberOfBedroom">
                            <label for="file">Image</label><br>
                            <input type="file" id="file" name="file">
                            <div id="oldFile"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger hide" id="validName">

            </div>
            <div class="alert alert-success hide">

            </div>
            <div class="modal-footer" id="but">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="update()">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Image</th>
                <th scope="col">Bathroom</th>
                <th scope="col">Bedroom</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody id="display">

            </tbody>
        </table>
        <div id="pageable"></div>
    </div>
</div>
<div id="main"></div>
</body>
<script>
    let validName = $("#validName")
    let display = document.getElementById("display")
    let form = document.getElementById("form")
    findAll(0);

    function findAll(number) {
        let pageable = document.getElementById("pageable")
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/homes?page=" + number,
            success: function (data) {
                displayList(data.content);
                let str = ""
                let num = data.pageable.pageNumber
                console.log(num)
                if (num > 0 || num + 1 === data.totalPages) {
                    str += `<a onclick="findAll(${num - 1})">Previous </a>`
                }
                str += `${num + 1}/${data.totalPages}`
                if (num <= 0 || num + 1 !== data.totalPages) {
                    str += `<a onclick="findAll(${num + 1})"> Next</a>`
                }
                pageable.innerHTML = str
            }
        });
    }

    function showAddForm() {
        document.getElementById("id").value = 0
        form.reset();
        $('.alert-success').html('').removeClass('hide');
        $('.alert-danger').html('').removeClass('hide');
    }

    function showEditForm(id) {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/homes/" + id,
            success: function (data) {
                console.log(data.image)
                document.getElementById("id").value = data.id
                document.getElementById("name").value = data.name
                document.getElementById("address").value = data.address
                document.getElementById("price").value = data.price
                document.getElementById("numberOfBathroom").value = data.numberOfBathroom
                document.getElementById("numberOfBedroom").value = data.numberOfBedroom
                document.getElementById("file").value = data.numberOfBedroom
                document.getElementById("oldFile").innerHTML = `<img src="image/${data.image}" style="width: 100px" id="upfile1">`

            }
        })
    }

    function save() {
        $('.alert-success').html('').removeClass('hide');
        let formData = new FormData(form);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "http://localhost:8080/api/homes",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 1000000,
            success: function () {
                $('.alert-danger').html('').removeClass('hide');
                $('.alert-success').html('Thành công!').removeClass('hide');
                // $('.alert-danger').addClass('hide');

                setTimeout(function () {
                    $("#addModal").modal('hide');
                    // $('.alert-danger').addClass('hide');
                    // $('.alert-success').addClass('hide');
                }, 1500);
                findAll(0);
                form.reset();
            },
            error: function (error) {
                $('.alert-danger').html('Thất bại!').removeClass('hide');
                console.log(error)
                // validName.text(error.responseJSON.error)
            },
        })
    }

    function update() {
        $('.alert-success').html('').removeClass('hide');
        let id = document.getElementById("id").value;
        console.log("id : " + id)
        if (id == 0) {
            save()
        } else {
            let formData = new FormData(form);
            $.ajax({
                type: "PUT",
                enctype: 'multipart/form-data',
                url: "http://localhost:8080/api/homes/" + id,
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 1000000,
                success: function () {
                    $('.alert-danger').html('').removeClass('hide');
                    $('.alert-success').html('Thành công!').removeClass('hide');
                    // $('.alert-danger').addClass('hide');

                    setTimeout(function () {
                        $("#addModal").modal('hide');
                        // $('.alert-danger').addClass('hide');
                        // $('.alert-success').addClass('hide');
                    }, 1500);
                    findAll(0);
                    form.reset();
                },
                error: function (error) {
                    $('.alert-danger').html('Thất bại!').removeClass('hide');
                    console.log(error)
                    // validName.text(error.responseJSON.name)
                },
            });
        }
    }

    function deleteHome(id) {
        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/api/homes/" + id,
            success: function () {
                findAll(0);
            },
        });
    }

    // function findAll() {
    //     $.ajax({
    //         type: "GET",
    //         url: "http://localhost:8080/api/homes",
    //         success: function (data) {
    //             displayList(data.content);
    //         },
    //     })
    // }

    function displayList(data) {
        let str = ""
        for (let i = 0; i < data.length; i++) {
            str += `<tr>
                <th scope="row">${i + 1}</th>
                <td>${data[i].name}</td>
                <td>${data[i].address}</td>
                <td><img src = "image/${data[i].image}" width="100px"></td>
                <td>${data[i].numberOfBathroom}</td>
                <td>${data[i].numberOfBedroom}</td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target="#addModal" onclick="showEditForm(${data[i].id})">Edit</button></td>
                <td><button class="btn btn-danger" onclick="deleteHome(${data[i].id})">Delete</button></td>
            </tr>`
        }
        display.innerHTML = str
    }

</script>
</html>